.name {
  width: 260px;
  // white-space: nowrap;/*强制在一行显示*/
	// text-overflow:ellipsis;/*设置超出内容显示...*/
	// overflow: hidden;
  // word-break:break-all;
}

.time {
  margin-left: 20px;
  font-size: 14px;
  font-weight: normal;
  color: #999;
}
